@model Book
 
<br />
<label asp-for="Title"></label>: 
<input asp-for="Title" />
<span asp-validation-for="Title"></span> @*hyb3at error message law al validation failed*@
<br />

<label asp-for="Description"></label>: 
<input asp-for="Description" /> 
<span asp-validation-for="Description"></span> 
<br />

<label asp-for="Language"></label>: 
<input asp-for="Language" />
<span asp-validation-for="Language"></span> 
<br />

<label asp-for="PublishedOn"></label>: 
<input asp-for="PublishedOn" />
<span asp-validation-for="PublishedOn"></span> 
<br />

<label asp-for="Price"></label>: 
<input asp-for="Price" /> <span asp-validation-for="Price"></span> 
<br />

<label asp-for="ImageUrl"></label>: 
<input asp-for="ImageUrl" />
<span asp-validation-for="ImageUrl"></span>
<br />



